a {
    color: black;
    text-decoration:none;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    
}

a:hover {
    color: white;
    background-color: black;
    transition: 0.3s;
    cursor: pointer;
}

.controls {
    font-size: 30px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}

.stopwatch {
    text-align: center;
    font-size: 40px;
    
}